@import "../../../styles/_button.scss";
.drawer {
  width: 70%;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;

  .menu-items {
    padding: 20px;
    display: flex;
    flex-direction: column;
    .label {
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 10px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
