$main-color: #6200ee;
.button {
  padding: 8px 20px;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $main-color;
}
.button-primary {
  @extend .button;
  background-color: $main-color;
  color: white;

  &:hover {
    background-color: darken($color: $main-color, $amount: 5);
  }
}

.button-secondary {
  @extend .button;
  background-color: transparent;
  color: $main-color;
}
