.navbar {
  width: 100%;
  box-shadow: 2px 2px 2px 2px #eee;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;

  .brand {
    .header {
      text-transform: uppercase;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 32px;
      height: 16px;
      cursor: pointer;

      .menu-icon__line {
        height: 2px;
        background-color: black;
      }

      .menu-icon__line1 {
        @extend .menu-icon__line;
        width: 32px;
      }

      .menu-icon__line2 {
        @extend .menu-icon__line;
        width: 28px;
      }

      .menu-icon__line3 {
        @extend .menu-icon__line;
        width: 24px;
      }
    }
    .actions {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 10px 30px;
    .menu {
      .menu-icon {
        display: none;
      }

      .actions {
        display: flex;
      }
    }
  }
}
