.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    flex-basis: 40%;

    .title__underline {
      margin: 0;
      padding: 0;
      text-decoration: underline;
      text-transform: uppercase;
    }

    .title__nounderline {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .descriptions {
    flex-basis: 60%;

    .description {
      padding: 10px;
    }
  }
  .actions {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .box {
    flex-direction: row;
  }
}
