// @font-face {
//   font-family: "Times";
//   src: url("./asset/times.ttf");
// }

// @font-face {
//   font-family: "Arial";
//   src: url("./asset/arial.ttf");
// }

.container {
  width: 100%;
  display: flex;
  // font-family: "Arial", sans-serif;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
