.branda {
  width: 100%;
  min-height: 100vh;
  background-color: red;
  .contents {
    display: flex;
    justify-content: center;
  }
}

.brandb {
  width: 100%;
  min-height: 100vh;
  background-color: blue;

  .contents {
    display: flex;
    justify-content: center;
  }
}
