@use "../styles/variables" as colors;
.layout {
  width: 100%;
  min-height: 100vh;

  .header {
    width: 100%;
  }

  .brand {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    margin: auto;
  }

  .brand-a {
    @extend .brand;
    background-color: colors.$color-light-blue;
  }

  .brand-b {
    @extend .brand;
    background-color: colors.$color-light-red;
  }
}
