.layout {
  width: 100%;
  min-height: 100vh;

  .header {
  }

  .brand {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    margin: auto;
  }

  .brand-a {
    @extend .brand;
    background-color: rgba(0, 0, 255, 0.3);
  }

  .brand-b {
    @extend .brand;
    background-color: rgba(255, 0, 0, 0.3);
  }
}
