.layout {
  width: 100%;
  min-height: 100vh;

  .header {
  }

  .brand-a {
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    padding-top: 100px;
    margin: auto;
  }

  .brand-b {
    width: 100%;
    min-height: 100vh;
    background-color: red;
    padding-top: 100px;
    margin: auto;
  }
}
